*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/databaseAdam/node_modules
/databaseAdam/public/build
/databaseAdam/public/hot
/public/storage
/databaseAdam/storage/*.key
/databaseAdam/vendor
/databaseAdam.env
/databaseAdam.env.backup
/databaseAdam.env.production
/databaseAdam.phpunit.result.cache
/databaseAdamHomestead.json
/databaseAdamHomestead.yaml
/databaseAdamauth.json
/databaseAdamnpm-debug.log
/databaseAdamyarn-error.log
/databaseAdam/.fleet
/databaseAdam/.idea
/databaseAdam/.vscode
*.aab
.idea/deploymentTargetDropDown.xml
